.text {
  justify-content: center;
  padding: 50px;
  border: 50px;
  box-sizing: border-box;
}

#box1 {
  width: 300px;
  height: 300px;
  background-color: rgb(115, 1, 119);
}

#box2 {
  width: 300px;
  height: 300px;
  background-color: rgb(1, 115, 1);
}

#box3 {
  width: 300px;
  height: 300px;
  background-color: rgb(119, 50, 1);
}
